<h2> Edit Your Profile </h2>

<%= error_message(current_user) %>

<%= form_for current_user, url: user_path(current_user.id) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div class="field">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div class="field">
  <%= f.submit "Submit" %>
<% end %>
