<h2> Edit Your Profile </h2>

<ul class = "errors">
  <% current_user.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>


<%= form_for current_user, url: user_path(current_user.id) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div class="field">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div class="field">
  <!-- <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
  </div class="field">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div> -->
  <%= f.submit "Submit" %>
<% end %>

Also at some time this page will let you update your password with verification,
and will check that your email is valid
