<h2>These orders contain one or more of my products.</h2>

<ol>
  <% current_user.order_items.each do |item| %>

    <li>Order Placed at: <%= item.order.updated_at %>
      <% item.order.order_items.where(product_id: item.product_id).each do |item|  %>

        <p><strong><%= link_to item.product.name, product_path(item.product.id) %></strong></p>
        <p>State: <%= item.order.state %></p>

      <ul>
        <li>Quantity: <%= item.quantity_of_product %></li>
        <li>Subtotal: <%= format_money(item.subtotal) %></li>
      </ul>

      <p>Buyer Info</p>
      <ul>
        <li>Buyer Name: <%= item.order.buyer_name %></li>
        <li>Address: <%= item.order.address %></li>
        <li>Date Order was placed: <%= item.order.updated_at %></li>
        <li>Email: <%= item.order.email %></li>
        <li>Credit Card: **** **** **** <%= item.order.last_four %></li>
        <li>Expiration date: <%= item.order.expiration %></li>
      </ul>
      <br>
      <% end %>
    </li>

  <% end %>
</ol>
