<h2>Orders for My Products</h2>
<h4>Total Revenue to date: <%= format_money(@total_rev) %></h4>

Filter by:
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "all"  %>
  <%= submit_tag "All Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "pending"  %>
  <%= submit_tag "Pending Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "paid"  %>
  <%= submit_tag "Paid Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "complete"  %>
  <%= submit_tag "Complete Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "cancelled"  %>
  <%= submit_tag "Cancelled Orders" %>
<% end %>


<h3>My Orders</h3>

<% @orders.each do |order| %>
  <h4>Order Number: <%= order.id %></h4>
  <% order.order_items.each do |item| %>
    <% if item.product.user == current_user %>
      <%= item.product.name %>
    <% end %>
  <% end %>
<% end %>
