<h2>Orders for My Products</h2>
<h4>Total Revenue to date: <%= format_money(@total_rev) %></h4>

<h4>Pending Orders</h4>
  <ul>
    <li>Number of pending orders: <%= @num_orders_pending %></li>
    <li>Revenue for pending orders: <%= format_money(@total_rev_pending) %> </li>
  </ul>

<h4>Paid Orders</h4>
  <ul>
    <li>Number of paid orders: <%= @num_orders_paid %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_paid) %> </li>
  </ul>

<h4>Complete Orders</h4>
  <ul>
    <li>Number of complete orders: <%= @num_orders_complete %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_complete) %> </li>
  </ul>

<h4>Cancelled Orders</h4>
  <ul>
    <li>Number of complete orders: <%= @num_orders_cancelled %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_complete) %> </li>
  </ul>

<h3>My Orders</h3>

<ol>
  <% current_user.order_items.each do |item| %>
  <li>
    <p>Order Number: <%= item.order.id %></p>
    <p>Placed at: <%= item.order.updated_at %></p>
    <% item.order.order_items.where(product_id: item.product_id).each do |item|  %>
      <p><strong><%= link_to item.product.name, product_path(item.product.id) %></strong></p>
      <p>State: <%= item.order.state %></p>

      <ul>
        <li>Quantity: <%= item.quantity_of_product %></li>
        <li>Subtotal: <%= format_money(item.subtotal) %></li>
      </ul>

      <p>Buyer Info</p>
      <ul>
        <li>Buyer Name: <%= item.order.buyer_name %></li>
        <li>Address: <%= item.order.address %></li>
        <li>Date Order was placed: <%= item.order.updated_at %></li>
        <li>Email: <%= item.order.email %></li>
        <li>Credit Card: **** **** **** <%= item.order.last_four %></li>
        <li>Expiration date: <%= item.order.expiration %></li>
      </ul>
      <br>
      <% end %>
    </li>

  <% end %>
</ol>
