<h2>Orders for My Products</h2>
<h4>Total Revenue to date: <%= format_money(@total_rev) %></h4>

Filter by:
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "pending"  %>
  <%= submit_tag "Pending Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "paid"  %>
  <%= submit_tag "Paid Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "complete"  %>
  <%= submit_tag "Complete Orders" %>
<% end %>
<%= form_tag "/users/#{current_user.id}/orders/", class: :button_to do  %>
  <%= hidden_field_tag "state", "cancelled"  %>
  <%= submit_tag "Cancelled Orders" %>
<% end %>

<h4>Pending Orders</h4>
  <ul>
    <li>Number of pending orders: <%= @num_orders_pending %></li>
    <li>Revenue for pending orders: <%= format_money(@total_rev_pending) %> </li>
    <li>@pending_orders is <%= @pending_orders.inspect %>
  </ul>

<h4>Paid Orders</h4>
  <ul>
    <li>Number of paid orders: <%= @num_orders_paid %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_paid) %> </li>
    <li>@paid_orders is <%= @paid_orders.inspect %>
  </ul>

<h4>Complete Orders</h4>
  <ul>
    <li>Number of complete orders: <%= @num_orders_complete %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_complete) %> </li>
  </ul>

<h4>Cancelled Orders</h4>
  <ul>
    <li>Number of complete orders: <%= @num_orders_cancelled %></li>
    <li>Revenue for paid orders: <%= format_money(@total_rev_complete) %> </li>
  </ul>

*********************************************<br>
<h3>My Orders</h3>

  <% @order_items.each do |item| %>
    <h4>Order Number: <%= item.order.id %></h4>
    <p>Placed at: <%= item.order.updated_at %></p>
    <% item.order.order_items.where(product_id: item.product_id).each do |item|  %>
      <p><strong><%= link_to item.product.name, product_path(item.product.id) %></strong></p>
      <p>State: <%= item.order.state %></p>
      <ul>
        <li>Quantity: <%= item.quantity_of_product %></li>
        <li>Subtotal: <%= format_money(item.subtotal) %></li>
      </ul>
    <% end %>
  <% end %>
