<% if @user == current_user %>
  <h2> My Account </h2>
  <div class= "account-options">
    <h3> <%= link_to "Edit my account", edit_user_path(current_user.id) %> </h3>
    <h3> <%= link_to "View My Orders", my_orders_path(current_user.id) %> </h3>
    <h3> <%= link_to "Add a Product", new_product_path %> </h3>
  </div>

  <h3> My Details </h3>
    <ul class = "account-details">
      <li> <strong> Username: </strong> <%= current_user.username %> </li>
      <li> <strong> Email: </strong> <%= current_user.email %> </li>
    </ul>

    <h3> My Products </h3>

  <% else %>

    <h2><%= @user.username.titleize %></h2>
    <h3><%= @user.username.titleize %>'s  Products </h3>

  <% end %>

  <div id="product_container">
    <% @active_products.each do |product| %>
       <div class = "square-box">
         <%= link_to product_path(product.id) do %>
          <div class = "small-product-pic" style="background-image:url(<%=product.imageurl%>)"></div>
         <% end %>
            <h4> <%= link_to product.name, product_path(product.id) %> </h4>

            <% if @user == current_user %>
              <ul class = "horizontal">
                <li><%= button_to "Edit this Product", edit_product_path(product.id), method: :get %></li>
                <li><%= button_to "Retire this Product", retire_product_path(product.id) %></li>
              </ul>
            <% end %>

            <section>
              Average Rating: <%= average_rating(product) %> <br>
              <%= format_money(product.price) %> <br>
            </section>
      </div> <!-- square box -->
    <% end %>
  </div> <!-- product_container -->
<% if @user == current_user %>
  <section class = "retired-products">
    <h3>Retired Products</h3>
    <% if @retired_products.empty? %>
      You have no retired products.
    <% else %>
      <% @retired_products.each do |product| %>
         <div class = "square-box">
           <div class = "small-product-pic" style="background-image:url(<%=product.imageurl%>)"></div>
           <h4><%= link_to  product.name.titleize, product_path(product.id) %></h4>
            <ul class = "horizontal">
              <li><%= button_to "Edit", edit_product_path(product.id), method: :get %></li>
              <li><%= button_to "Delete", delete_product_path(product.id), method: :delete %></li>
              <!-- <li> This Product has been retired. </li> -->
              <li><%= button_to "Un-retire", activate_product_path(product.id) %></li>
            </ul>
         </div>
      <% end %>
    <% end %>
  </section>
<% end %>
