<h1> Welcome to Useless Junk<h1>

<h2>Create an Account</h2>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :confirm_email %>
    <%= f.text_field :email %>
  </p>
  <%= f.submit "Submit" %>
<% end %>
