<h1> Welcome to UselessJunk<h1>

<h2>Create an Account</h2>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password_digest %>
  </p>
  <p>
    <%= f.label :confirm_password %>
    <%= f.text_field :password_digest %>
  </p>
  <%= f.submit "Submit" %>
<% end %>

<section>Already a registered? <%= link_to "Sign in", user_login_path %><br/></section>


<
