<h2>Your order is complete, thank you!</h2>
<p>This is your order confirmation page.  Please print it out for your records.</p>

<h2>Your Order</h2>
<%= format_order(@order) %>
<p>Order Total Price: <%= format_money @order.total_price %>

<h3>Order Items</h3>
<% @order.order_items.each do |item| %>
  <p><strong><%= link_to item.product.name.titleize, product_path(item.product.id)  %></strong></p>
  <ul>
    <li>Quantity: <%= item.quantity_of_product %></li>
    <li>Price of Item: <%= format_money(item.product.price) %></li>
    <li>Subtotal: <%= item.quantity_of_product %> x <%= format_money(item.product.price) %> = <%= format_money(item.subtotal) %></li>
  </ul>

<% end %>
