<h2>Your Cart</h2>



<p> Total Cost: <%= format_money(current_order.total_price) %> </p>



<% if @errors_array %>
  <% @errors_array.each do |item| %>
    <%= item.product.name %>
    <ul>
      <% item.errors.each do |column, message| %>
        <li>
          <%= column %> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% unless @order_items.empty? %>
  <%= form_for @order_item, method: :patch, url: update_cart_path do |f| %>
    <h3>Items in your cart</h3>
    <% current_order.order_items.sort.each do |item| %>
      <p><strong><%= link_to item.product.name.capitalize, product_path(item.product.id) %></strong></p>

      <p> Quantity: <%= f.text_field item.id, value: item.quantity_of_product %>  x <%= format_money(item.product.price) %> </p>
      <p> Subtotal: <%= format_money(item.subtotal) %> </p>
      <p> Quantity available: <%= item.product.quantity %></p>
    <% end %>
    <%= f.submit "Update Cart" %>
<% end %>

<%= button_to "Buy the things!!", buy_order_path(current_order.id), method: :get %>
<% else %>
  Your cart is empty :(
<% end %>
