<h2>Your Cart</h2>

<p>All Orders: <%= Order.all.inspect %></p>
<p> This Order: <%= @order.inspect %> </p>
<p> Total Cost: <%#= @order.total_price %> </p>






<% @order.order_items.sort.each do |item| %>
  <%= form_for item, method: :patch, url: update_cart_path do |f| %>
    <p>Order Items for this order</p>
      <p><strong><%= item.product.name %></strong></p>
      <p>ID =  <%= item.id %>
      <p> <%= f.hidden_field :order_item_id, value: item.id %>
      <p> <%= f.text_field :quantity, value: item.quantity_of_product %> x <%= item.product.price %></p>
      <p> Quantity available: <%= item.product.quantity %></p>
      <% if @errors %>
      <ul class = "errors">
          <% @errors.each do |column, message| %>
            <li>
              <strong><%= column.capitalize %></strong> <%= message %>
            </li>
          <% end %>
      </ul>
      <% end %>
      <p> Subtotal: <%= item.subtotal %> </p>
      <%= f.submit "Update Cart" %>
    <% end %>

<% end %>

<!-- # <%= button_to "Update Cart", edit_order_path(@order.id), method: :patch %> -->
<%= button_to "Buy the things!!", edit_order_path(@order.id), method: :patch %>
