<h2>Your Cart</h2>

<p>All Orders: <%= Order.all.inspect %></p>
<p> This Order: <%= current_order.inspect %> </p>
<p> Total Cost: <%= current_order.total_price %> </p>
<p> Session ID: <%= session[:order_id] %> </p>


<% if @errors_array %>
  <% @errors_array.each do |item| %>
    <%= item.product.name %>
    <ul>
      <% item.errors.each do |column, message| %>
        <li>
          <%= column %> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% unless @order_items.empty? %>
  <%= form_for @order_item, method: :patch, url: update_cart_path do |f| %>
    Order Items for this order
    <% current_order.order_items.sort.each do |item| %>
      <p><strong><%= item.product.name %></strong></p>

      <p> Quantity: <%= f.text_field item.id, value: item.quantity_of_product %></p>
      <p> Subtotal: <%= item.subtotal %> </p>
      <p> Quantity available: <%= item.product.quantity %></p>
    <% end %>
    <%= f.submit "Update Cart" %>
<% end %>

<%= button_to "Buy the things!!", buy_order_path(current_order.id), method: :get %>
<% else %>
  Your cart is empty :(
<% end %>
