<!--<h2 id = "uselessJunk">Useless Junk Products!</h2> -->
<div id= 'title'>
  Useless Crapsey Products!
</div>

<% @products.collect do |product| %>
    <ul>
      <li>
         <a href = "/products/<%= product.id %>"><%= product.name %></a><br>
         <%= product.description %>
      </li>
    </ul>
<% end %>



<ul class = "errors">
  <% @user.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>
