<!--<h2 id = "uselessJunk">Useless Junk Products!</h2> -->
<div id= 'title'>
  Useless Crapsey Products!
</div>

<!-- <div id = "column">
  blah
  blah
</div> -->


<div id="main_container">
 <p>Some content.</p>


<% @products.collect do |product| %>
<!-- <div class='square-box'>
    <div class='square-content'><div><span>
    <ul>
      <li>
         <a href = "/products/<%= product.id %>"><%= product.name %></a><br>
         <%= product.description %>
         <img src="http://placekitten.com/g/200/300" alt="Kitten" >
      </li>
    </ul>
  </span></div></div>
</div> -->

<div class = 'square-box'>
  <%= product.name %><br>
  <%= product.description %><br>
  <%= product.price %><br>
  <img src="http://placekitten.com/g/40/60" alt="Kitten" >
</div>
<% end %>





</div> <!-- end of main container-->


<ul class = "errors">
  <% @user.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>
