
<div id= 'title'>
  Useless Crapsey Products!
</div>


<div id="main_container">
 <p>Some content.</p>


<% @products.collect do |product| %>
<!-- <div class='square-box'>
    <div class='square-content'><div><span>
    <ul>
      <li>
         <a href = "/products/<%= product.id %>"><%= product.name %></a><br>
         <%= product.description %>
         <img src="http://placekitten.com/g/200/300" alt="Kitten" >
      </li>
    </ul>
  </span></div></div>
</div> -->

<div class = 'square-box'>
  <%= product.name %><br>
  <%= product.description %><br>
  <%= product.price %><br>
  <img src="http://placekitten.com/g/40/60" alt="Kitten" >
</div>
<% end %>

<aside class="categories">
  <!--links for each category, all pointing to the same method in categories_controller-->
  <!--Sets a new @products, filled with only the categories that match the clicked one-->
  <% all_categories.each do |cat| %>
    <%= link_to cat.label, category_path(cat.id) %>
    <br>
  <% end %>
</aside>




</div> <!-- end of main container-->
