
<div id= 'title'>
  <h2> Useless Crapsey Products!</h2>
</div>


<div id="main_container">
 <p>Some content.</p>


<% @products.collect do |product| %>
  <% unless product.retired %>

    <div class = 'square-box'>
      <%= link_to product_path(product.id) do %>
        <div class = "small-product-pic" style="background-image:url(<%=product.imageurl%>)">
        </div>
      <% end %>

        <section>
          <h4> <%= link_to product.name, product_path(product.id) %> </h4>
          Rated: <%= average_rating(product) %> <br>
          <%= format_money(product.price) %> <br>
        </section>
    </div>

  <% end %>
<% end %>

<aside class="categories">
    <!--Sets a new @products, filled with only the categories that match the clicked one-->
  <%= form_tag category_sort_path do %>
    <% all_categories.each do |cat| %>
      <% if defined? @categories %>
        <% checked = @categories.include?(cat) %>
      <% else%>
        <% checked = false %>
      <% end %>
      <% unless (cat.products.empty?) || ( cat.products - retired_products).empty? %>
        <%= check_box_tag "category_ids[]", cat.id, checked %>
        <%= cat.label %>
        <br>
      <% end %>
    <% end %>
     <%= submit_tag("Sort")%>
  <% end %>

</aside>


</div> <!-- last of main container-->
