<h2> Create a Product </h2>

  <% error_message(@product) %>

 <%= form_for @product, method: :post, url: new_product_path do |f|%>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <%= f.hidden_field :retired, value: false %>
   <p>
     <%= f.label :name.capitalize %>
     <%= f.text_field :name %>
   </p>
   <p>
     <%= f.label :price.capitalize %> (in cents)
     <%= f.text_field :price %>
   </p>
   <p>
     <%= f.label :quantity.capitalize %>
     <%= f.text_field  :quantity %>
   </p>
   <p>
     <%= f.label :link_to_a_picture %>
     <%= f.text_field :imageurl %>
   </p>
   <p>
     <%= f.label :description.capitalize %>
     <%= f.text_area :description %>
   </p>
   <ul class= "horizontal" class = "select_category">
     <% all_categories.each do |cat| %>
        <li>
          <%= check_box_tag "category_ids[]", cat.id %>
          <%= cat.label %>
        </li>
     <% end %>
  </ul>

   <button class = "in_a_form"> <%= link_to "Add a Category", new_product_to_new_category_path, method: :get %> </button>
   Warning: Creating a new category now will discard your current work on the new product
   <p><%= f.submit %></p>

 <% end %>
