<h2><%= @product.name %></h2>

<h3>Sold by:
  <%= link_to @product.user.username, user_path(@product.user) %>
</h3>

<div class = "basic_product">
  <img src = <%= @product.imageurl %> alt = "Image of product">
  <p>Description: <%= @product.description %></p>
  <p>Price: <%= format_money(@product.price) %> </p>
  <% if @product.quantity == nil || @product.quantity == 0 %>
    <p>Not in stock :(</p>
  <% elsif @product.quantity > 0 %>
    <p>In stock: <%= @product.quantity %> </p>
    <div class = "add_to_cart_button">
      <!-- Update this link eventually -->

      <%= form_for @order_item, url: new_order_path do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit "Add to Cart"%>
      <% end %>

      <!-- <form action = "/orders/new" method = "POST">
        <input type="hidden" name="order_item[product_id]" value= "<%= @product.id %>"/>
        <!-- <input type="hidden" name="product[vendor_id]" value="<%#=@vendor.id%>" /> -->
        <!-- <input type = "submit" value = "Add to Cart"/> -->
      <!-- </form>  -->
    </div>
  <% end %>

</div>
  <div class = "product">
    <% if current_user %>
      <%= link_to "delete", @product, method: :delete %>
      <%= link_to "edit", edit_product_path %>
    <% end %>
</div>



<div class = "product_reviews">
  <h4>Reviews for <%= @product.name %></h4>
  <div class = "product-rating">
    <% @product.reviews.each do |review| %>
      <p><strong><%= review.title %></strong><p>
      <p> <%= review.content %></p>
      <p>Rating = <%= review.rating %></p>
    <% end %>
  </div>
</div>

<div class = "review_form">
<% if !current_user || if_not_owned_by_current_user %>
  <h4>Add a review: </h4>
  <%= form_for @review do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <!-- This is what it will create -->
    <!-- <input type = "hidden" name = "review[product_id]" value = "1" > -->
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </p>
    <p><%= f.submit %></p>
    <% end %>
  <% end %>
</div>
