<h2><%= @product.name %></h2>

<h3>Sold by:
  <%= link_to @product.user.username, user_path(@product.user) %>
</h3>

<div class = "basic_product">
  <img src = <%= @product.imageurl %> alt = "Image of product">
  <p>Description: <%= @product.description %></p>
  <p>Price: <%= @product.price %> cents</p>
</div>

<div class = "add_to_cart_button">
  <!-- Update this link eventually -->
  <%= link_to "Add to Cart", "/"  %>
</div>

<div class = "product_reviews">
  <h4>Reviews for <%= @product.name %></h4>
  <div class = "product-rating">
    <% @product.reviews.each do |review| %>
      <p><strong><%= review.title %></strong><p>
      <p> <%= review.content %></p>
      <p>Rating = <%= review.rating %></p>
    <% end %>
  </div>
</div>
