<h1> Welcome to Useless Junk<h1>


<% if @vendor_market != nil %>
  <h2>Your Market</h2>
  <%= @vendor_market.name %>

  <h2>Other Markets</h2>
  <% @markets.each do |market| %>
    <%= market.name %><%= link_to "Select", "/markets/#{market.id}/edit" %><br/>
  <% end %><br /><br />

  <a href="<%= new_market_path %>">Add Market.</a>
<% else %>
  <h2>All Markets</h2>
  <% @markets.each do |market| %>
    <%= market.name %><%= link_to "Select", "/markets/#{market.id}/edit" %><br/>
  <% end %><br /><br />
<% end %>





<section>Already a registered vendor?<%= link_to "Sign in", vendor_login_path %><br/>
New to FarMar <%= link_to "Sign up here.", new_vendor_path %></section>
